:root{
  --body_bg: #E3E7E5;
  --color: black;
}
[data-theme="dark"]{
  --body_bg: #222527;
  --color: #E3E7E5;
}

body{
  transition: all 0.3s ease-in-out;
  background-color: var(--body_bg);
  color: var(--color);
}

.preview{
  white-space: pre;
  height: 575px;
  width: 615px;
  overflow-y: auto;
  overflow-x: auto;
}

textarea{
  resize: none;
}

.flex{
  display: flex;
  gap: 1px;
}

.mode{
  display: flex;
  color: white;
  height: 100%;
  align-items: center;
}
